{% extends 'base.html' %}

{% block title %} Delete BP {% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
    <h1>Delete BP</h1>
    <br/><br/>
    <h3>Delete: {{ post.title }}</h3>

    <br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure?</strong> <br/><br/>
          <button class="btn btn-secondary">Delete Post! </button>
    </div>
  {% else %}

  You r not allowed here! :)
    
  {% endif %}

{% else %}

You r not allowed here! :)
  
{% endif %}



{% endblock %} 